<form action="/" method="post" class="request-form">
  <p>
    <label for="request_phone_number">Recipient's phone number</label>
    <input id="request_phone_number" name="phone_number" placeholder="+61 411 111 111" required>
  </p>
  <p>
    <label for="request_message">Message</label>
    <input id="request_message" name="message" required placeholder="Thought you needed this">
  </p>
  <p>
    <input type="submit" value="Send Emergency Kitten!">
  </p>
</form>
