<!doctype html>
<html>
  <head>
    <title>Emergency Kitten Request</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="author" href="http://toolmantim.com/" title="Tim Lucas">
  </head>
  <body>
    <h1 class="site-name">Emergency Kitten Request</h1>
    <%= yield %>
    <footer>
      <p class="background-photo-attribution">
        Photo by <a href="https://www.flickr.com/photos/geoftheref/3227445097/">Geof Wilson</a> (CC Attribution)
      </p>
    </footer>
  </body>
</html>
